		<footer class="footer" style="height:100px;left:0px;right:0px;bottom:0px;" data-booted="true">
			<div class="row align-items-center pt-4 ">
				<div class="col-sm-3 col-md-3 col-3 offset-2">
					<div tabindex="-1" class="text-nowrap">
							<a href="https://github.com/cloud-native-nordics" target="_blank" class="text-decoration-none">
								<div class="d-inline">
									<img src="GitHub-Mark-32px.png" class="github" />
								</div>
								<div class="d-none d-md-inline text-muted">
									github.com/cloud-native-nordics
								</div>
							</a>
					</div>
				</div> 
				<div class="col-sm-3 col-md-3 col-3">
					<div tabindex="-1">
						<div>
							<a href="https://twitter.com/hashtag/CloudNativeNordics" target="_blank" class="text-decoration-none">
								<div class="text-nowrap">
									<div class="d-inline">
										<img src="twitter.png" class="twitter" />
									</div>
									<div class="d-none d-md-inline text-muted">
										#CloudNativeNordics
									</div>
								</div>
							</a>
						</div> 
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-3">
					<div tabindex="-1">
						<a href="https://cloud.google.com/" target="_blank" class="text-decoration-none">
							<div class="text-nowrap">
								<div class="d-none d-md-inline text-muted">
									Powered by
								</div>
								<div class="d-inline">
									<img src="google-cloud.png" class="google" />
								</div>
							</div>
						</a>
					</div>
				</div>		
		</footer>
	</body>
</html>