	<footer class="footer py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-4">
					<div class="text-nowrap text-center">
							<a href="https://github.com/cloud-native-nordics" target="_blank" class="text-decoration-none">
								<div class="d-inline">
									<img src="GitHub-Mark-32px.png" class="github mr-2" />
								</div>
								<div class="d-none d-md-inline text-muted">
									github.com/cloud-native-nordics
								</div>
							</a>
					</div>
				</div> 
				<div class="col-sm-4 col-md-4 col-4">
					<div>
						<a href="https://twitter.com/hashtag/CloudNativeNordics" target="_blank" class="text-decoration-none">
							<div class="text-nowrap text-center">
								<div class="d-inline">
									<img src="twitter.png" class="twitter mr-2" />
								</div>
								<div class="d-none d-md-inline text-muted">
									#CloudNativeNordics
								</div>
							</div>
						</a>
					</div> 
				</div>
				<div class="col-sm-4 col-md-4 col-4">
					<a href="https://cloud.google.com/" target="_blank" class="text-decoration-none">
						<div class="text-nowrap text-center">
							<div class="d-none d-md-inline text-muted">
								Powered by
							</div>
							<div class="d-inline">
								<img src="google-cloud.png" class="google ml-2" />
							</div>
						</div>
					</a>
				</div>	
			</div>
		</footer>
	</body>
</html>