 <html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
		<meta name="author" content="{{ .Site.Params.author }}" />

		<title>{{ .Site.Title }}</title>

			<!-- Open Graph (Social) -->
		{{ template "_internal/opengraph.html" . }}
		{{ template "_internal/twitter_cards.html" . }}

			<!-- Styles -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 	
		{{ $options := (dict "targetPath" "style.css") }}
		{{ $sass := resources.Get "sass/main.scss" }}
		{{ $style := $sass| toCSS $options | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
	</head>
	<body>