/* 
This file is used to set all the variables we want to tweak for bootstrap 
It is importet before all bootstrap scss assets within main.scss
*/

$primary: white;
$secondary: #343a40;
$body-color: $primary;
$spacer: 1rem !default;
$font-size-base: 1rem;