@import "_colors";

.v-application{
    font-family: 'Raleway', monospace !important;
    h1{
        font-style: normal;
        font-weight: 300;
        font-size: 40px;

        color: #502366;

        padding-left: 20px;
    }
    h2{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;

        color: #502366;

        padding-left: 20px;
    }
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;

        color: #502366;

        padding-left: 20px;
    }

    .darkLogo {
        filter: brightness(0.1);
    }

    .card-footer {
        background-color: #f5f5f5;
    }


    //TODO: These should probably be scoped under some landing page class or something=
    .section-one {
        background-image: $gradient;
        color: white;
        height: 100%;

        @media screen and (max-width: 600px){
            .welcome {
                margin-top: 0px;
            }
            h1{
                font-size: 30px;
            }
        }

        @media screen and (min-width: 600px){
            .welcome {
                margin-top: 100px;
            }
            h1{
                font-size: 55px;
            }
        }

        h1{
            color: white;
        }
        h3 {
            color: white;
        }
        .cover-image {
            margin-top: 70px;
            margin-bottom: 70px;
            width: 50%
        }
    }

    .section-two {
        background-color: $purple;
        color: white;
        height: 100%;
        h3 {
            margin-top: 10px;
            color: white;
        }
    }

    .section-three {
        background-color: $pink;
        height: 100%;
        color: white;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .section-map {
        background-color: white;
        height: 100%;
        color: black;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .section-four {
        background-color: white;
        height: 100%;
        color: $purple;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .section-five {
        background-color: $purple;
        height: 100%;
        color: white;
        padding-bottom: 50px;
        padding-top: 50px;
        h2 {
            color: white;
        }
        h3 {
            color: white;
        }
        .date{
            color: white;
            font-style: italic;
            margin-bottom: 10px;
        }
    }

    .slack-invite{
        border-color: $purple;
    }

    .v-toolbar__title {
        overflow: inherit;
    }

    .theme--light.v-sheet.v-app-bar {
        background-image: $gradient;
        border-color: $purple;

        .v-toolbar__items .v-btn{
            border-color: $purple;
            color: white;
        }
    }

    .theme--light.v-text-field--outlined fieldset {
        border-color: rgba(255, 255, 255, 0.54);
    }

    .theme--light.v-label {
        color:  rgba(255, 255, 255, 0.54);
    }

    .theme--light.v-list.mobile-nav {
        background-color: $purple;
        border-color: $purple;

        .theme--light.v-btn {
            background-color: $purple;
            border-color: $purple;
            color: white;
        }

        .theme--light.country-btn-sm {
            &[selected] {
                background-color: $purple;
                border-color: $purple;
                color: #EA1F7A;
            }
        }
    }

    .theme--light.v-navigation-drawer {
        background-color: $purple;

        .v-navigation-drawer__content .v-list .v-btn{
            background-color: $purple;
            border-color: $purple;
            color: white;
        }
    }

    .country-btn {
        border: 2px solid rgba(0, 46, 141, 0.4);
        // box-sizing: border-box;
        width: 140px;
        height: 48px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 116.4%;
        /* or 19px */

        text-align: center;

        &--all{
            width: 184px;
        }

        &[selected] {
            background-color: $purple;
            border-color: $purple;
            color: white;
        }
    }

    .v-snack__content{
        a {
            color: white;
        }
    }

    .v-card {
        background: #D6d6d6;
        border-radius: 2px;
        min-height: 200px;

        &.group-card {
            width: 300px;
            height: 330px;
        }

        .v-card__title{
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: $purple;
                text-decoration: none;
            }
        }
        .v-card__text{
            span.text-title  {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.64) !important;
            }

            span {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3) !important;
            }
            a {
                font-size: 14px;
                color: $purple;
                text-decoration: none;
            }
        }

        .v-card__actions {
            img {
                filter: invert(52%) sepia(99%) saturate(5096%) hue-rotate(212deg) brightness(93%) contrast(92%);
            }
        }
    }

    footer {
        background: transparent;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.81);
        }

        p {
            margin-top: 0.5em;
            font-size: 1.25em;
            color: rgba(0, 0, 0, 0.81);
        }

        .github {
            max-width: 32px;
        }
    }

    .primary-overlay {
        filter: invert(52%) sepia(99%) saturate(5096%) hue-rotate(212deg) brightness(93%) contrast(92%);
    }

}

