<section class="slice bg-purple ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 d-none d-lg-flex d-xl-flex">
				<img style="max-width: 18em;" src="mascot.png" />
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12">
				<h2>Upcoming events</h2>
				<p class="py-2">
					Visit <strong><a href="https://community.cncf.io/" class="text-white">https://community.cncf.io/</a></strong> to see all events. Search for your favorit Cloud Native Nordics group.
				</p>
			</div>
		</div>
	</div>
</section>