<section class="slice bg-pink">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Scaling adoption of Cloud Native in the nordics</h2>
				<br />
				<p class=" lead">
					Cloud Native Nordics is a meetup alliance across the five countries in northern europe. We help each other with many things, some of them being; tooling, website, speakers, guidelines, workshops, branding, and much more. We are a community built and run by passionate people.
					<br/><br/>
					The mantra is; <strong>By the community for the community</strong>.
				</p>
			</div>
		</div>
	</div>
</section>