<section class="slice text-purple">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<img style="max-width: 80%; object-fit: contain; margin	-left: auto; margin-right: auto; margin-bottom: 3em; display: block;" src="logo-kcd.png" />
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<h2>Kubernetes Community Days Nordics 2022 - canceled
				</h2>
				<p class="py-2">

					<p>We are sorry to inform you that we need to cancel Kubernetes Community Day Cloud Native Stockholm event with short notice.</p>

					<p>The reason for canceling this event is that we tried to pull everything off in a really short time frame but now we are realizing that we need to plan this on a longer horizon to make it as great as it should be.</p>

					<p>It was a hard decision to make, but we feel this is the right thing to do with respect for participants, sponsors and the people involved in organizing it.</p>

					<p>Sorry for any inconvenience that this may have caused you.</p>

					<p>Stay tuned for future events! Best regards.</p>

				</p>
			</div>
		</div>
	</div>
</section>



