<section class="slice text-purple">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<img style="max-width: 80%; object-fit: contain; margin	-left: auto; margin-right: auto; margin-bottom: 3em; display: block;" src="logo-kcd.png" />
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<h2>Kubernetes Community Days Nordics 2022
				</h2>
				<p class="py-2">
					Kubernetes Community Days are coming to the Nordics!

On November 29, the Kubernetes and cloud native community in the Nordics will gather at Epicenter in Stockholm. Join us for a one-day technical conference loaded with exciting talks and plenty of opportunities to exchange and network.

Visit our <strong><a href="https://community.cncf.io/events/details/cncf-kcd-nordics-presents-kubernetes-community-days-nordics-2022/" class="text-secondary">event page</a></strong> for more info.
				</p>
			</div>
		</div>
	</div>
</section>



