name: github pages

# We trigger on all pushes
on: push

jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.62.2'
          extended: true

      - name: Build
        run: hugo --minify -F

      - name: Ensure CNAME
        run: echo "cloudnativenordics.com" > public/CNAME

      - name: Deploy if push to default
        # Only deploy from the default branch
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
